altgraph
certifi
chardet
charset-normalizer
click
cmudict
colorama
googletrans
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
importlib_metadata
importlib_resources
joblib
nltk
packaging
pefile
pronouncing
pyinstaller
pyinstaller-hooks-contrib
pywin32-ctypes
regex
requests
rfc3986
sniffio
tqdm
urllib3
zipp
